<p id="notice"><%= notice %></p>

<p>
  <strong>Leave date:</strong>
  <%= @leave.leave_date %>
</p>

<p>
  <strong>Member:</strong>
  <%= @leave.member %>
</p>

<%= link_to 'Edit', edit_leave_path(@leave) %> |
<%= link_to 'Back', leaves_path %>
