<p id="notice"><%= notice %></p>

<p>
  <strong>Leave date:</strong>
  <%= @leafe.leave_date %>
</p>

<p>
  <strong>Member:</strong>
  <%= @leafe.member %>
</p>

<%= link_to 'Edit', edit_leafe_path(@leafe) %> |
<%= link_to 'Back', leaves_path %>
