<p>
  <strong>Name:</strong>
  <%= project.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= project.details %>
</p>

<p>
  <strong>Quarter:</strong>
  <%= project.quarter.name %>
</p>

<p>
  <strong>Points:</strong>
  <%= project.points %>
</p>

<p>
  <strong>Completion:</strong>
  <%= project.completion %>
</p>